* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#3bdbf0, #e8fdff);
}

#carouselExampleIndicators {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(236, 26, 26, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.form_contact {
    margin-top: 100px;
    width: 40em;
}

table {
    background-color: white;
    margin-top: 100px;
}

thead {
    background-color: rgb(199, 199, 199);
}

#footer_contact, #footer_stats {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

footer #footer_div {
  margin: 0 100px;
}

footer #footer_ul {
  position: relative;
  bottom: 40px;
  margin: 10px 100px;
}