* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#5f2675, #a88c8c);
}

nav {
    background: radial-gradient(#0e0811, #491e47);
    font-size: 20px;
    font-weight: bold;
}

nav a:visited {
    color: rgb(255, 255, 255);
}

#onpage {
    color: rgb(221, 20, 154);
}
  
#carousel {
    margin-top: 10px;
    background: radial-gradient(#e9d200, #d3142e);
    
}

#carousel h3 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    letter-spacing: 15px;
    text-transform: uppercase;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(#d3142e, 0.3);
    border: none; 
    border-radius: 50%;
}

label {
    font-weight: bold;
    color: rgb(250, 255, 186);
}

#card-home p, #card-upcoming p, #card-past p {
    height: 4rem;
}

#card-home section, #card-upcoming section, #card-past section {
    background-color: rgb(230, 238, 240);
}

#card-home section:hover, #card-upcoming section:hover, #card-past section:hover {
    transform: scale(1.3);
    background-color: rgba(180, 178, 172, 0.76);
    transition: transform .8s;
    z-index: 1;
}

.form_contact {
    margin-top: 100px;
    width: 40em;
}

table {
    background-color: white;
    margin-top: 100px;
}

thead {
    background-color: rgb(199, 199, 199);
}

#footer_contact, #footer_stats {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

footer #footer_div {
  margin: 0 100px;
}

footer #footer_ul {
  position: relative;
  bottom: 40px;
  margin: 10px 100px;
}